<h1 class="bg-secondary text-white" style="text-align: center;">Lottery number generator</h1>

<div class="container">
  <div class="row">   
    <div class="col-6 col-md-6">
      <button class="btn btn-secondary" (click)="onSubmit()">Generate Lottery numbers</button>
    </div>
  </div>
</div>
<div *ngIf="winners.length>0">
  <div class="container">
    <div class="row">
    <div class="col-6 col-md-6">
      <h3 class="bg-success text-white">Lottery List</h3>
      <div *ngFor="let winner of winners">
          <div [ngClass]="{'grey-color': winner<=9 && winner>=1, 'blue-color': winner<=19 && winner>=10, 'pink-color': winner<=29 && winner>=20, 'green-color': winner<=39 && winner>=30, 'yellow-color': winner<=49 && winner>=40 }">{{winner}}</div>        
      </div>
    </div>
    </div>
  </div>

<div class="container">
<div class="row">
<div class="col-6 col-md-6">
  <button class="btn btn-secondary" (click)="onBonusSubmit()">Get Bonus ball</button>
</div>
</div>
<div *ngIf="bonusBall!=0" class="col-6 col-md-6" [ngClass]="{'grey-color': bonusBall<=9 && bonusBall>=1, 'blue-color': bonusBall<=19 && bonusBall>=10, 'pink-color': bonusBall<=29 && bonusBall>=20, 'green-color': bonusBall<=39 && bonusBall>=30, 'yellow-color': bonusBall<=49 && bonusBall>=40 }">{{bonusBall}}</div>        
</div>
