
.grey-color {
    background-color: #949292;
    font-size: large;
}
.blue-color {
    background-color: #4954f1;
    font-size: large;
}
.pink-color {
    background-color: #ee93d7;
    font-size: large;
}
.green-color {
    background-color: #93e96c;
    font-size: large;
}
.yellow-color {
    background-color: #e5eb95;
    font-size: large;
}